/* I am
******************************/
html, body{height:100%; width:100%;}
body{margin:0; padding:0; background-color:#fff; color:#333; font:12px /1.2 Tahoma, Geneva, sans-serif;}

a{outline:none; cursor:pointer; text-decoration:none; color:blue;
	-moz-transition:color, border-bottom-color;
	-o-transition:color, border-bottom-color;
	-webkit-transition:color, border-bottom-color;
	transition:color, border-bottom-color;
}
	a:hover, .footer a:hover{color:orange;
		-moz-transition-duration:.08s;
		-o-transition-duration:.08s;
		-webkit-transition-duration:.08s;
		transition-duration:.08s;
	}

	a img{border:none;}

:focus{outline:none;}

h1, h2, h3, h4, p, form, input, table, tr, td, th, ul, li, pre{margin:0; padding:0; font-weight:normal;}

table, tr, td{border:0; border-collapse:collapse; vertical-align:top; text-align:left;}

.text_input, textarea, select{font:12px Tahoma, Geneva, sans-serif; border:1px solid #d9d9d9; position:relative; vertical-align:top; border-radius:4px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.text_input{padding:0 8px; height:30px;}
	.text_input:focus, textarea:focus{border-color:#f60;-webkit-box-shadow:0 0 2px rgba(255,102,0,.35); box-shadow:0 0 2px rgba(255,102,0,.35);}

textarea{padding:5px 8px;}

select{height:30px; padding:2px;}

::-webkit-input-placeholder{color:#9f9f9f;}
:-moz-placeholder{color:#9f9f9f !important;}
:-ms-input-placeholder{color:#9f9f9f;}

ul{list-style:none;}

	p + p{padding-top:12px;}

/* Base
******************************/
.hide{display:none !important;}
.float_l{float:left;}
.float_r{float:right;}
.row{overflow:hidden;}
.clear{clear:both !important; font-size:0 !important;}
.clearfix:after{content:''; clear:both; display:block;}
.nodecor, .spec_decor{text-decoration:none; border-bottom:none;}
.nowrap{white-space:nowrap;}
.bold{font-weight:bold;}

.dotted{border-bottom:1px dotted;}

.text_left{text-align:left;}
.text_right{text-align:right;}
.text_center{text-align:center;}

.img_box{overflow:hidden; position:relative; font-size:0;}
	.img_box img{max-width:100%; max-height:100%; margin:auto; font-size:11px; color:#999;}

/*btns*/
.btn_stl{display:inline-block; overflow:hidden; position:relative; vertical-align:top; height:30px; padding:0 10px; border-radius:4px; color:#fff; font-size:14px; font-weight:bold; line-height:28px; text-align:center; text-decoration:none !important; text-shadow:0 -1px 1px RGBA(0,0,0,.4); cursor:pointer;

	background:-webkit-linear-gradient(top, #00a8ff 0, #0088ce 100%);
	background:linear-gradient(to bottom, #00a8ff 0, #0088ce 100%);

	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;

	-moz-transition:background .15s;
	-o-transition:background .15s;
	-webkit-transition:background .15s;
	transition:background .15s;

	-moz-user-select:none;
	-o-user-select:none;
	-webkit-user-select:none;
	user-select:none;
}

	.btn_stl:hover{color:#fff;
		background:-webkit-linear-gradient(top, #00a8ff 0, #00659a 100%);
		background:linear-gradient(to bottom, #00a8ff 0, #00659a 100%);
	}

	.btn_stl:active{
		-webkit-box-shadow:inset 0 2px 4px RGBA(0,0,0,.5);
		box-shadow:inset 0 2px 4px RGBA(0,0,0,.5);

		background:-webkit-linear-gradient(top, #00a8ff 0, #00659a 100%);
		background:linear-gradient(to bottom, #00a8ff 0, #00659a 100%);
	}

	.btn_stl + .btn_stl{margin-left:10px;}

.btn_stl.disabled{background:#dedede !important; border-color:#ccc !important; color:#808080 !important; text-shadow:none !important; cursor:default;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}

/* Main
******************************/
.main{min-width:780px; max-width:1110px; min-height:100%; position:relative; margin:0 auto; background-color:#fdfdfd; 
	-webkit-box-shadow:0 0 6px RGBA(0,0,0,.15);
	box-shadow:0 0 6px RGBA(0,0,0,.15);
}
	.wrapper{max-width:990px; margin:0 5%;}

/* header
******************************/
.header{min-height:100px; box-shadow:0 3px 3px rgba(0,0,0,.11)}
	.header .wrapper{padding:20px 0;}

	.logo{float:left; width:120px; height:40px; background-color:#f2f2f2;}
	.top_menu{float:right; padding-top:5px;}
		.top_menu > a{display:inline-block; height:30px; padding:0 10px; border:1px dotted #d9d9d9; font-size:14px; line-height:30px;}
			.top_menu > a + a{margin-left:7px;}

/* Content
******************************/
.content{padding:40px 0 100px; line-height:1.4;}

h1, .alt_h1{padding-bottom:15px; color:orange; font-size:20px; line-height:24px;}
h2{padding:10px 0; color:black; font-size:16px; line-height:1.2;}

.main_banner{position:relative; width:100%; height:480px; margin-bottom:40px; border-bottom:1px solid #dbdcdb;}
.rotator_body{position:relative; width:100%; height:100%; overflow:hidden;}
	.rotator_body > ul{position:relative; width:100%; height:100%;}
	.rotator_body .slide{position:absolute; overflow:hidden; width:100%; height:100%;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}

	.main_banner .rotator_nav{position:absolute; top:0; width:40px; height:100%; background:rgba(255,255,255,.5); opacity:0; cursor:pointer; z-index:10;}
	.main_banner .rotator_nav.left{left:0;}
		.main_banner .rotator_nav.left:before,
		.main_banner .rotator_nav.left:after,
		.main_banner .rotator_nav.left .icon,
		.main_banner .rotator_nav.left .icon:before,
		.main_banner .rotator_nav.left .icon:after{position:absolute; top:50%; border-style:solid; border-width:2px 2px 2px 0; border-color:transparent #666 transparent transparent;}

		.main_banner .rotator_nav.left:before{content:''; left:10px; height:12px; margin-top:-6px;}
		.main_banner .rotator_nav.left:after{content:''; left:14px; height:16px; margin-top:-8px;}
		.main_banner .rotator_nav.left .icon{left:18px; height:20px; margin-top:-10px;}
		.main_banner .rotator_nav.left .icon:before{content:''; left:4px; height:24px; margin-top:-14px;}
		.main_banner .rotator_nav.left .icon:after{content:''; left:8px; height:28px; margin-top:-16px;}

	.main_banner .rotator_nav.right{right:0;}
		.main_banner .rotator_nav.right:before,
		.main_banner .rotator_nav.right:after,
		.main_banner .rotator_nav.right .icon,
		.main_banner .rotator_nav.right .icon:before,
		.main_banner .rotator_nav.right .icon:after{position:absolute; top:50%; border-style:solid; border-width:2px 0 2px 2px; border-color:transparent transparent transparent #666;}

		.main_banner .rotator_nav.right:before{content:''; right:10px; height:12px; margin-top:-6px;}
		.main_banner .rotator_nav.right:after{content:''; right:14px; height:16px; margin-top:-8px;}
		.main_banner .rotator_nav.right .icon{right:18px; height:20px; margin-top:-10px;}
		.main_banner .rotator_nav.right .icon:before{content:''; right:4px; height:24px; margin-top:-14px;}
		.main_banner .rotator_nav.right .icon:after{content:''; right:8px; height:28px; margin-top:-16px;}


		.main_banner:hover .rotator_nav{opacity:.5;}
		.main_banner .rotator_nav:hover{opacity:1;}


	.main_banner .rorator_move{position:absolute; bottom:20px; left:50%; width:50%; margin-left:-25%; text-align:center;}
		.main_banner .mover{display:inline-block; width:10px; height:10px; background-color:#fff; border-radius:50%; opacity:.7; cursor:pointer;}
		.main_banner .mover + .mover{margin-left:10px;}
		.main_banner .mover.sel{background-color:#00A8FF;}

	.main_banner .label{padding:100px 0 0 100px; max-width:400px;}
	.main_banner .title{color:#fff; font-weight:bold; font-size:26px; text-transform:uppercase;}
	.main_banner .text{font-size:18px; line-height:30px; color:#000; text-shadow:1px 1px 1px rgba(255,255,255,0.5);}
		.main_banner .title + .text{padding-top:15px;}
	.main_banner .btn_stl{margin-top:25px;}

/*footer*/
.footer{position:absolute; bottom:0; left:0; height:70px; width:100%;}
	.footer .wrapper{padding-top:25px; overflow:hidden; border-top:1px solid #e6e6e6; color:gray;}
	.creater{float:right; margin-right:10px;}
	.footer a{color:gray;}